{% extends "admin/cms/page/plugin/change_form.html" %}
{% load i18n admin_modify  staticfiles cms_admin %}

 
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />{% endblock %}
 
{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}
 
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
 

 
{% block content_title %}<h2>{{ plugin.get_plugin_name }}</h2>
<ul class="object-tools">
	
    {% if original.gallery.id %}<li><a href="{% url 'admin:filer_gallery_gallery_change' original.gallery.id  %}?_popup=1">{% trans "Edit gallery" %}</a></li>{% endif %}

</ul>
{% endblock %}

